[Desktop Entry]
Type=Application
Name=SigWatch Kiosk
Exec=chromium --kiosk --noerrdialogs --disable-infobars --incognito http://127.0.0.1:8080/
X-GNOME-Autostart-enabled=true
